@use '../../../styles/variables' as vars;

.card-form {
  color: #fff;

  &__title {
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 8px;
  }

  &__subtitle {
    font-size: 16px;
    color: vars.$text-muted;
    margin: 0;
  }
}
